.Folder {
    background-color: #573976;
    margin: 0 0 1rem;
    padding: 1rem 2.5rem;
    text-align: center;
    border-radius: 5px;
}

.SelectedFolder {
    background-color: #2E0854; 
}

.Folder_Link {
    text-decoration: none; 
    color: white;
}

.AddFolder_Section {
    background-color: #8B7B8B;
    margin-top: 1rem;
}

.AddFolder_Button {
    border: 1px solid lightgray;
    background-color: lightgray;   
    color: #2E0854;
    padding: 5px;
    text-align: center;
    text-decoration: inherit;
    border-radius: 20%;
    font-size: 14px;
}

.Selected {
    color: #8B7B8B;
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (max-width: 375px) {
    .Folder {
        padding: 1rem;
    }
}


