.Header_HeaderBox {
    background-color: #8B7B8B;
    color: white;
    text-align: center;
}

.HeaderBox_WithNote {
    background-color: #8B7B8B;
    color: white;
    width: 100%;
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: row;
}

.Header_Sidebar {
}

.Header_Sidebar_WithNote {
    width: 18%;
    padding: 0px 0px;
}

.Header_Main {
    margin: 0rem 0rem 2rem 0rem;
    font-size: 2.5rem;
}

.Header_Main_WithNote {
    margin: 0px 20px;
}

.Header_Link {
    color: white;
}

.Header_HeadingText {
    margin: 2px 2px 2px 2px;
    font-size: 2rem;
    margin: 0 0 0.75rem 0;
}

.Header_Section_BackButton {
    background-color: #8B7B8B;
    color: black;
    height: 40px;
}

.Header_BackButton {
    border: 1px solid lightgray;
    background-color: lightgray;   
    padding: 12px;
    text-align: center;
    text-decoration: inherit;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 14px;
}

@media only screen and (max-width: 320px) {
    .Header_HeaderBox {

    }

    .Header_Main {
        margin: 0rem 0rem 0rem 0rem;
    }
    
}
