.MainDetail {
    margin-top: 15px;
    margin: 6px;
    text-align: left;
}

.MainDetail_Header {
    background-color:#696969;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Header_Section1 {
}

.Header_Section2 {
    position: absolute;
    right: 0;
}

.NoteTitle {
    padding: 6px 0px 0px 6px;   
    margin: 6px 6px 2px;
    font-weight: bold;
    text-align: left;
}

.Date {
    padding: 0px 0px 6px 6px;
    margin: 6px 6px 12px;
    font-size: 14px;
    text-align: left;
}

.DeleteButton {
    background-color: lightgray;
    border: 1px solid #696969;
    transform: rotate(-90deg) translateY(-30px);
    transform-origin: top right;
    width: 115px;
    padding: 4px; 
    font-size: 17px; 
    text-decoration: inherit; 
}

.NoteBox {
    color: black;
    background-color: white;
}

.NoteText {
    margin: 10px;
}
