.Main {
    background-color: #8B7B8B;
    color: white;
    float: left;
    text-align: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.Note {
    background-color:#696969;
    color: white;
    margin: 0px 15px 15px 15px;
    padding: 0px 6px 6px 6px;
    width: 350px;
    position: relative;
}

.Note_Section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Note_Section2_Date {
    color: white;
    font-size: 12px;
    margin: 0px;

}

.Note_Section2_Button {
    
}

.AddNote_Button_Section {
    text-align: center;
    margin: 20px auto;
}

.AddNote_Button {
    color: #2E0854;
    border: 1px solid lightgray;
    background-color: lightgray;   
    padding: 5px;
    text-align: center;
    text-decoration: inherit;
    border-radius: 20%;
    font-size: 14px;
    margin: 20px auto;
    white-space: nowrap;
}

.Note_Name {
    color: white;
    font-size: 18px;
    margin: 2px 2px 16px 2px;
}

.Note_Link {
    text-decoration: none; 
    color: white;
}


/*@media only screen and (max-width: 1050px) {
    body { 
        font-size: 1rem;
        line-height: 100%;
    }
    .Main {
        font-size: 1rem;
        line-height: 100%;
    }
    .Note {
        font-size: 1rem;
        line-height: 80%;
        width: 250px;
        margin: 0px 0px 10px 0px;
    }
    .AddNote_Button {
        font-size: 1rem;
        line-height: 100%;
    }
    .Note_Name {
        font-size: 1rem;
        line-height: 100%;
    }
}

@media only screen and (max-width: 950px) {
    body { 
        font-size: .8rem;
        line-height: 80%;
    }
    .Main {
        font-size: .8rem;
        line-height: 80%;
    }
    .Note {
        font-size: .8rem;
        line-height: 80%;
        width: 250px;
        margin: 0px 0px 10px 0px;
    }
    .AddNote_Button {
        font-size: .8rem;
        line-height: 80%;
    }
    .Note_Name {
        font-size: .8rem;
        line-height: 80%;
    }
}*/

