/* These settings are for mobile devices greater than 320 width */
.AddFolder {
    /*border: 1px solid black;*/
    /*margin: 20px;*/
    /*margin: 0rem 5rem 0rem 0rem;*/
}

.NameInput {
    
}

.AddFolder_Label {
    font-size: 17px;
}

.AddFolder_SubmitButton {
    margin: 20px;
    font-size: 14px;
    align-items: center;
    border-radius: 20%;
}

.AddFolder_HeaderBox {
    /*border: 1px solid black;*/
    background-color: #8B7B8B;
    color: white;
    margin: 0rem;
    /*display: flex;
    flex-direction: row;
    flex: 1 1 auto;*/
}

/*.HeaderBox_WithNote {
    background-color: #8B7B8B;
    color: white;
    width: 100%;
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: row;
}*/

.AddFolder_Header_Sidebar {
    /*flex: 1 1 auto;*/
    width: 18%;
    padding: 0px 0px;
}

.Header_Main {
    /*margin: 0px 0px 0px 100px;
    margin: 0px 20px;*/
}

.Header_Link {
    color: white;
}

.HeadingText {
    color: white;
    text-align: left;
    margin: 2px 2px 2px 2px;
}

.AddFolder_Title {
    font-size: 2rem;
    margin: 0 0 0.75rem 0;
    color: white;
}

.AddFolder_Section_BackButton {
    background-color: #8B7B8B;
    color: black;
    /*padding: 1rem 1rem 0rem 2rem; 
    margin: 0px 10px 0px 30px;*/
    height: 15vh;
    padding: 2rem 0rem 0rem 2rem; 
    margin: 4rem 0rem 0rem 0rem;
}

.AddFolder_BackButton {
    border: 1px solid lightgray;
    background-color: lightgray;   
    padding: 1rem;
    text-align: center;
    text-decoration: inherit;
    border-radius: 50%;
    width: 1rem;
    font-size: 1.2rem;
}

.AddFolder_HeadingText {
    margin: 0rem;
}

.AddFolder_Header_Link {
    color: white;
}


/* These settings are for the smallest screens */
@media only screen and (max-width: 320px) {
    .AddFolder_Section_BackButton {
        /*border: 1px solid black;*/
        height: 15vh;
        padding: 0rem 0rem 0rem 0rem; 
        margin: 4rem 0rem 0rem 0rem;
    }

    .AddFolder_Title {
        font-size: 1.2rem;
        margin: 2rem 0 1rem 0;
        color: white;
    }

    .AddFolder_HeaderBox {
        margin: 0rem;
        display: block;
    }

    .AddFolder {
        margin: 5vw 0vw 0vw 0vw;
        line-height: 120%;
    }
    
    .AddFolder_Label {
        font-size: 1rem;
        line-height: 100%;
    }
    
    .AddFolder_SubmitButton {
        margin: 20px;
        font-size: 14px;
    }
        
    .Header_Sidebar {
        width: 18%;
        padding: 0px 0px;
    }
    
    .AddFolder_Header_Main {
    }
    
    .AddFolder_Header_Link {
        color: white;
    }
    
    .AddFolder_HeadingText {
        margin: 2px 2px 2px 2px;
        font-size: 2rem;
    }
    
    .Section_BackButton {
        /*height: 40px;*/
        padding: 10px 10px 0px 20px;
        margin: 0px 10px 0px 30px;
    }
    
    .BackButton {  
        padding: 12px;
        height: 20px;
        width: 20px;
        font-size: 14px;
    }
}



/* These settings are for larger screens */
/*@media only screen and (min-width: 750px) {
    body { 
        font-size: .8rem;
        line-height: 80%;
    }
    .AddFolder_SubmitButton {
        font-size: .8rem;
        line-height: 80%;
    }
    .AddFolder_Label {
        font-size: .8rem;
        line-height: 80%;
    }
    .AddFolder {
        font-size: .8rem;
        line-height: 80%;
    }
}*/