/* These settings are for mobile devices greater than 320 width */
body {
}

.App {
    /*margin: 25px 25px 25px 25px;*/
    margin: 3vw;
    background-color:  #8B7B8B;
}

/* How prevent overlapping sections using display block: */
/* 1. Use width percentages */
/* 2. Use max-width */
/* 3. Use display: block */

.Section_All {
    /*width: 100vw;*/
    margin: auto;
    max-width: 1200px;
}

.Section_Header {

}

.Section_SidebarMain {
    display: flex;
}

.Section_Sidebar {
    color: white;
    /*margin: 0rem 1rem 1rem 1rem;*/
}

.Section_Main {
    color: white;
    /*float: left;*/
    /*margin: 0rem;*/
    font-size: 1rem;
    /*line-height: 100%;*/
    width: 62vw;
    height: 100vh;
    /*padding: 0rem 0rem 0rem 3rem;*/
    /*margin: 0rem 0rem 0rem 4rem;*/
}

body { 
    background-color: #8B7B8B;
    color: white;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
}


/* These settings are for the smallest screens */
@media only screen and (max-width: 320px) {
    .Section_SidebarMain {
        width: 100vw;
        height: 100vh;
    }

    .Section_Sidebar {
        font-size: 1rem;
        line-height: 100%;
        /*width: 22vw;*/
        height: 100vh;
        float: left;
    }

    .Section_Main {
        font-size: 1rem;
        line-height: 100%;
        width: 30vw;
        height: 100vh;
        padding: 0rem 0rem 0rem 3rem;
        margin: 0rem 0rem 0rem 4rem;
    }
}

/*

/* These settings are for larger screens */
/*@media only screen and (min-width: 750px) {
    body { 
        font-size: .8rem;
        line-height: 80%;
    }
    .Section_Sidebar {
        font-size: .8rem;
        line-height: 80%;
    }
    .Section_Main {
        font-size: .8rem;
        line-height: 80%;
    }
}*/