body {
}

.App {
    margin: 3vw;
}

.Section_All {
    margin: auto;
    max-width: 1200px;
}

.Section_Header {

}

.Section_SidebarMain {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

.Section_Sidebar {
}

.Section_Main {
    font-size: 1rem;
    flex-grow: 1;
    margin-left: 1rem;
}

body { 
    background-color: #8B7B8B;
    color: white;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
}

@media only screen and (max-width: 320px) {
    .Section_Sidebar {
        font-size: 1rem;
        line-height: 100%;
    }

    .Section_Main {
        font-size: 1rem;
        line-height: 100%;
        padding: 0rem 0rem 0rem 3rem;
        margin: 0rem 0rem 0rem 4rem;
    }
}