.App {
    margin: 25px 25px 25px 25px;
    /*border: 1px solid black;*/
}

.Section {
    width: 100%;
}

.Left-Half {
    background-color: #ff9e2c;
    float: left;
    width: 50%;
}

.Right-Half {
    background-color: #b6701e;
    float: left;
    width: 50%;
}

body { 
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
}