body {
    /*background-image: linear-gradient( #8B7B8B, #b9afb9);*/
}

.App {
    margin: 25px 25px 25px 25px;
    background-color:  #8B7B8B;
    width: 75%;
    /*display: grid | inline-grid;
    grid-template-columns: 20px 200px;*/

    /*min-height: 100vh;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr 2.3fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";*/
}

.Section_Sidebar {
    color: white;
    display: inline;
    width: 20%;
    height: 100%;

}

.Section_Main {
    color: white;
    display: inline;
    width: 80%;
    height: 100%;
}

/*.Left-Half {
    color: white;
    float: left;
    width: 50%;
}

.Right-Half {
    color: white;
    float: left;
    width: 50%;
}*/

body { 
    /*background-color: #5E2D79;*/
    background-color: #8B7B8B;
    color: white;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    /*text-shadow: 0 2px 2px #b6701e;*/
}