/* These settings are for mobile devices greater than 320 width */
.Main {
    background-color: #8B7B8B;
    color: white;
    float: left;
    text-align: left;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.Note {
    background-color:#696969;
    color: white;
    /*margin: 0rem 2rem 1rem 4rem;
    padding: 0.5rem 1rem 3rem 0.5rem;*/
    margin: 0rem 2rem 1rem 4rem;
    padding: 0.5rem 1rem 3rem 0.5rem;
    width: 50vw;
    height: 7.5rem;
    position: relative;
}

.Note_Section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Note_Section2_Date {
    color: white;
    font-size: 12px;
    margin: 0px;

}

.Note_Section2_Button {
    
}

.AddNote_Button_Section {
    text-align: center;
    margin: 1rem 0rem 0rem 2rem;
}

.AddNote_Button {
    color: #2E0854;
    border: 1px solid lightgray;
    background-color: lightgray;   
    padding: 5px;
    text-align: center;
    text-decoration: inherit;
    border-radius: 20%;
    font-size: 14px;
    margin: 20px auto;
    white-space: nowrap;
}

.Note_Name {
    color: white;
    font-size: 18px;
    margin: 2px 2px 16px 2px;
}

.Note_Link {
    text-decoration: none; 
    color: white;
}





/* These settings are for the smallest screens */
@media only screen and (max-width: 320px) {
    .Main {
        width: 8vw;
    }
    
    .Note {
        margin: 0rem 0.5rem 1rem 8rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 45vw;
        height: 5.2rem;
        font-size: .6rem;
    }
    
    .Note_Section2_Date {
        font-size: 12px;
        margin: 0px;
    }

    .AddNote_Button_Section {
        margin: 1rem 0rem 0rem 7rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    
    .AddNote_Button {
        padding: .4rem;
        text-align: center;
        margin: 20px auto;
        white-space: nowrap;
        font-size: .9rem;
    }
    
    .Note_Name {
        font-size: .9rem;
        margin: 2px 2px 16px 2px;
    }
}


/* These settings are for larger screens */
/*@media only screen and (min-width: 750px) {
    body { 
        font-size: .8rem;
        line-height: 80%;
    }
    .Main {
        font-size: .8rem;
        line-height: 80%;
    }
    .Note {
        font-size: .8rem;
        line-height: 80%;
        width: 250px;
        margin: 0px 0px 10px 0px;
    }
    .AddNote_Button {
        font-size: .8rem;
        line-height: 80%;
    }
    .Note_Name {
        font-size: .8rem;
        line-height: 80%;
    }
}*/

