/*border: 1px solid black;*/

.Sidebar {
    background-color: #8B7B8B;;
    color: white;
    float: left;
    width: 30%;
    margin-top: 15px;
    display: flex;
    flex-direction: column; 
    align-content: space-around;
}

.Folder {
    background-color: #2E0854; 
    padding: 15px;
    margin: 6px;
}

.Folder_Link {
    text-decoration: none; 
    color: white;
}

.AddFolder_Section {
    background-color: #8B7B8B;;
}