/* border: 1px solid black; */
.SidebarDetail {
    background-color: #8B7B8B;
    padding: auto;
    margin: auto;
}

.FolderName {
    background-color: #8B7B8B;
    color: white;
    float: left;
    width: 10%;
    margin: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column; 
    align-content: space-around;
    padding: 15px;
    margin: 6px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 45px;
}



