/* These settings are for mobile devices greater than 320 width */
.Sidebar {
    background-color:  #8B7B8B;
    color: white;
    float: left;
    width: 15vw;
    display: flex;
    flex-direction: column; 
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.Folder {
    background-color: #573976;
    margin: 0rem 1rem 1rem 3rem;
    padding: 1rem 2.5rem 1rem 1rem;
    width: 7rem;
    text-align: center;
    display: block;
}

.SelectedFolder {
    background-color: #2E0854; 
    margin: 0rem 1rem 1rem 3rem;
    padding: 1rem 2.5rem 1rem 1rem;
    width: 7rem;
}

.Folder_Link {
    text-decoration: none; 
    color: white;
}

.AddFolder_Section {
    background-color: #8B7B8B;
    width: 10rem;
    margin: 1rem 0px 0px 0px;
}

.AddFolder_Button {
    border: 1px solid lightgray;
    background-color: lightgray;   
    color: #2E0854;
    padding: 5px;
    margin: 0rem 0rem 0rem 1.5rem;
    text-align: center;
    text-decoration: inherit;
    border-radius: 20%;
    font-size: 14px;
}

.Selected {
    color: #8B7B8B;
    text-decoration: underline;
    font-weight: bold;
}







/* These settings are for the smallest screens */
@media only screen and (max-width: 320px) {
    .Sidebar {
        width: 6vw;
    }
    
    .Folder {
        margin: 0rem 1.4rem 1rem 4.5rem;
        padding: 1rem 1rem 1rem .5rem;
        width: 5.2rem;
        font-size: .9rem;
        text-align: center;
    }
    
    .SelectedFolder {
        margin: 0rem 1.4rem 1rem 4.5rem;
        padding: 1rem 1rem 1rem .5rem;
        width: 5.2rem;
    }
    
    .AddFolder_Section {
        width: 5.7rem;
        margin: 1rem 1rem 1rem 4rem;
    }
    
    .AddFolder_Button {
        padding: .4rem;
        font-size: .9rem;
        margin: 0rem;
    }

    .Folder_Link {
        padding: 0rem;
    }
}

/* These settings are for larger screens */
/*@media only screen and (min-width: 750px) {
    .Sidebar {
        width: 6vw;
    }
    
    .Folder {
        margin: 0rem 1.4rem 1rem 4.5rem;
        width: 5.2rem;
        font-size: .9rem;
        text-align: left;
    }
    
    .SelectedFolder {
        margin: 0rem 1.4rem 1rem 3rem;
        padding: 0.7rem;
        width: 5.2rem;
    }
    
    .AddFolder_Section {
        width: 5.7rem;
        margin: 1rem 1rem 1rem 4rem;
    }
    
    .AddFolder_Button {
        padding: .4rem;
        font-size: .9rem;

    }

    .Folder_Link {
        padding: 0rem;
    }
}*/