/*.Sidebar {
    border: 1px solid black;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 0%;
    left: 0%;
    padding: 1rem;
    text-align: center;
}*/

/*.Sidebar {
    border: 1px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translate(-50%, -50%);
}*/

/*.Sidebar {
    background-color: #b6701e;
    float: left;
    width: 50%;   
}*/

.Sidebar {
    background-color: #ff9e2c;
    float: left;
    width: 50%;
}